<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

<script>

$(function() {

    var apiURL = "https://api.github.com/repos/michaelmuenzer/gu-assistant/releases/latest";

    $.getJSON(apiURL, function(json) {
        console.log(json)
        if (json && json.name) {
            var releaseName = json.name
            console.info("Release download urls loaded from Github API.");

            // Set Mac download link if it is not set manually in _config.yml
            var $macLink = $(".macLink");
            if ($.trim($macLink.attr('href')).length == 0) {
                //https://github.com/michaelmuenzer/gu-assistant/releases/download/v0.0.20/GU-Assistant-0.0.20.dmg
                var downloadUrl = 'https://github.com/michaelmuenzer/gu-assistant/releases/download/v' + releaseName + '/GU-Assistant-' + releaseName + '.dmg'
                $($macLink).attr("href", downloadUrl);
            }

            // Set Windows download link if it is not set manually in _config.yml
            var $winLink = $(".winLink");
            if ($.trim($winLink.attr('href')).length == 0) {
                // https://github.com/michaelmuenzer/gu-assistant/releases/download/v0.0.20/GU-Assistant-Setup-0.0.20.exe
                var downloadUrl = 'https://github.com/michaelmuenzer/gu-assistant/releases/download/v' + releaseName + '/GU-Assistant-Setup-' + releaseName + '.exe'
                $($winLink).attr("href", downloadUrl);
            }
        }
    });  
});

</script>